<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:label="BiblioScorza"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioScorza">

        <activity android:name=".ui.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.ScannerActivity" />
        <activity android:name=".ui.LibroFormActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.EjemplarActivity" />
        <activity android:name=".ui.PrestamoActivity" />
        <activity android:name=".ui.DevolucionActivity" />
        <activity android:name=".ui.BuscarActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
